[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
feedparser = "*"
pylint = "==2.4.4cd"

[requires]
python_version = "3.7"
